.elementor-1148 .elementor-element.elementor-element-114b4654:not(.elementor-motion-effects-element-type-background), .elementor-1148 .elementor-element.elementor-element-114b4654 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-91455cb );
}

.elementor-1148 .elementor-element.elementor-element-114b4654 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7em 0em 3em 0em;
}

.elementor-1148 .elementor-element.elementor-element-114b4654 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-1862310e > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1148 .elementor-element.elementor-element-1862310e {
    padding: 0em 0em 0em 0em;
}

.elementor-1148 .elementor-element.elementor-element-3d51cc57 > .elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-1148 .elementor-element.elementor-element-4aadbb3c {
    text-align: left;
}

.elementor-1148 .elementor-element.elementor-element-2b0cb26c > .elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-1148 .elementor-element.elementor-element-784f4b5 .elementor-icon-list-icon i {
    color: var( --e-global-color-a291686 );
    transition: color 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-784f4b5 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-a291686 );
    transition: fill 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-784f4b5 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-1148 .elementor-element.elementor-element-784f4b5 .elementor-icon-list-text {
    color: var( --e-global-color-308e809 );
    transition: color 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-b7685f4 > .elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-1148 .elementor-element.elementor-element-c737a15 .elementor-icon-list-icon i {
    color: var( --e-global-color-a291686 );
    transition: color 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-c737a15 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-a291686 );
    transition: fill 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-c737a15 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-1148 .elementor-element.elementor-element-c737a15 .elementor-icon-list-text {
    color: var( --e-global-color-308e809 );
    transition: color 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-5d8b26c > .elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-1148 .elementor-element.elementor-element-1a238b3 .elementor-icon-list-icon i {
    color: var( --e-global-color-a291686 );
    transition: color 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-1a238b3 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-a291686 );
    transition: fill 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-1a238b3 {
    --e-icon-list-icon-size: 25px;
    --icon-vertical-offset: 0px;
}

.elementor-1148 .elementor-element.elementor-element-1a238b3 .elementor-icon-list-text {
    color: var( --e-global-color-308e809 );
    transition: color 0.3s;
}

.elementor-1148 .elementor-element.elementor-element-7e265462 {
    text-align: center;
}

.elementor-1148 .elementor-element.elementor-element-7e265462 .elementor-heading-title {
    color: var( --e-global-color-a291686 );
    font-family: var( --e-global-typography-112b6c4-font-family ), Sans-serif;
    font-size: var( --e-global-typography-112b6c4-font-size );
    font-weight: var( --e-global-typography-112b6c4-font-weight );
    line-height: var( --e-global-typography-112b6c4-line-height );
    letter-spacing: var( --e-global-typography-112b6c4-letter-spacing );
    word-spacing: var( --e-global-typography-112b6c4-word-spacing );
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-1148 .elementor-element.elementor-element-3d51cc57 {
        width:25%;
    }

    .elementor-1148 .elementor-element.elementor-element-2b0cb26c {
        width: 50%;
    }

    .elementor-1148 .elementor-element.elementor-element-b7685f4 {
        width: 25%;
    }

    .elementor-1148 .elementor-element.elementor-element-5d8b26c {
        width: 25%;
    }
}

@media(max-width: 1024px) {
    .elementor-1148 .elementor-element.elementor-element-114b4654 {
        padding:3em 0em 2em 0em;
    }

    .elementor-1148 .elementor-element.elementor-element-3d51cc57 > .elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-1148 .elementor-element.elementor-element-4aadbb3c {
        text-align: center;
    }

    .elementor-1148 .elementor-element.elementor-element-2b0cb26c > .elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-1148 .elementor-element.elementor-element-b7685f4 > .elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-1148 .elementor-element.elementor-element-5d8b26c > .elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }

    .elementor-1148 .elementor-element.elementor-element-7e265462 {
        text-align: center;
    }

    .elementor-1148 .elementor-element.elementor-element-7e265462 .elementor-heading-title {
        font-size: var( --e-global-typography-112b6c4-font-size );
        line-height: var( --e-global-typography-112b6c4-line-height );
        letter-spacing: var( --e-global-typography-112b6c4-letter-spacing );
        word-spacing: var( --e-global-typography-112b6c4-word-spacing );
    }
}

@media(max-width: 767px) {
    .elementor-1148 .elementor-element.elementor-element-114b4654 {
        padding:2em 0em 0em 0em;
    }

    .elementor-1148 .elementor-element.elementor-element-4aadbb3c {
        text-align: center;
    }

    .elementor-1148 .elementor-element.elementor-element-7e265462 .elementor-heading-title {
        font-size: var( --e-global-typography-112b6c4-font-size );
        line-height: var( --e-global-typography-112b6c4-line-height );
        letter-spacing: var( --e-global-typography-112b6c4-letter-spacing );
        word-spacing: var( --e-global-typography-112b6c4-word-spacing );
    }
}
